
<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="gestion-enseignants">
        <ion-icon name="person-outline"></ion-icon>
        Enseignants
      </ion-tab-button>
      <ion-tab-button tab="gestion-classe">
        <ion-icon name="business-outline"></ion-icon>
        Classes
      </ion-tab-button>
      <ion-tab-button tab="gestion-cours">
        <ion-icon name="book-outline"></ion-icon>
        Cours
      </ion-tab-button>
      <ion-tab-button tab="gestion-salles">
        <ion-icon name="school-outline"></ion-icon>
        Salles
      </ion-tab-button>
      <ion-tab-button tab="gestion-programme">
        <ion-icon name="calendar-number-outline"></ion-icon>
        Programme
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
