<ion-content [fullscreen]="true">
  <div class="flexx">
    <div class="header-section">
      <img src="../../assets/6914347.jpg" alt="Image Accueil" class="header-image" />
    </div>
  
    <div class="content-section">
        <ion-card-header>
          <ion-card-title class="ui">Connexion</ion-card-title>
        </ion-card-header>
        <form (submit)="login()">
          <ion-item>
            <ion-label position="floating">Nom d'utilisateur ou Email</ion-label>
            <ion-input [(ngModel)]="username" name="username" type="text" required></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
          </ion-item>
        
          <button class="custom-button" type="submit">Connexion</button>
        </form>
        
    </div>
  </div>
</ion-content>
